/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; /* Cor de fundo mais suave, um bege claro */
    color: #333; /* Texto escuro para contraste */
    line-height: 1.6;
    padding: 0;
}

header {
    background-color: #f06292; /* Rosa claro para o header */
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 4px solid #ec407a; /* Detalhe mais escuro */
}

header h1 {
    font-size: 2.5rem;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ec407a; /* Rosa escuro para os subtítulos */
    margin-bottom: 15px;
}

p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #555; /* Cor do texto um pouco mais clara */
}

.shortcut-list {
    list-style-type: none;
    padding-left: 0;
}

.shortcut-list li {
    background-color: #f8bbd0; /* Rosa bem claro para os itens da lista */
    border: 1px solid #f06292; /* Cor de borda em rosa mais forte */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.shortcut-list li span {
    font-weight: bold;
    color: #ec407a; /* Rosa escuro para o destaque */
}

footer {
    background-color: #f06292; /* Rosa claro para o footer */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .container {
        margin: 10px;
        padding: 15px;
    }
}
